name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  run-ci-workflow:
    uses: itobey/workflow-templates/.github/workflows/ci.yml@master
    with:
      image_name: fddb-exporter
    secrets: inherit
